<h1 style="color:blue; text-align:center;">Hello world</h1>

Our blog has <%= Article.public_count %> articles and counting!
<ul style="text-align:center;">
 <% @articles.each do |article| %>
  <% unless article.archived? %>
    <li>
    <!-- <a href="/articles/<%=article.id %> ">
     <%= article.title %>
     </a>
      -->
      <%= link_to article.title, article %>
    </li> 
    <% end %>
    <% end %>
</ul>
<%= link_to "New Article", new_article_path %>